name: Docker Image CI

permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - ".github/workflows/update-rba-excludes.yml"
      - "data/**"
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - ".github/workflows/update-rba-excludes.yml"
      - "data/**"

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag us.gcr.io/birding-il/birding-il-bots:$(date +%s)
