name: Publish RBA excludes list

permissions:
  contents: read

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/update-rba-excludes.yml"
      - "data/**"
  workflow_dispatch:

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-22.04
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Authenticate to GCP
        uses: "google-github-actions/auth@v2"
        with:
          project_id: "birding-il"
          workload_identity_provider: "projects/397747986563/locations/global/workloadIdentityPools/github-actions/providers/github-actions-provider"
      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@v2"
        with:
          version: ">= 474.0.0"
      - name: "Upload data/"
        run: "cd data && gcloud storage cp * gs://birding-il-rare-bird-excludes-de72b11720035de4/"
